.header {
  width: 100%;
}

.header__text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.28px;
  color: #222428;
  font-style: normal;

  .header__signup-link {
    text-decoration: none;
    font-weight: 700;
    color: #062fb3;
  }
}

.logo {
  height: 36px;
  width: 138px;

  .logo__link {
    width: 100%;
  }
}

.header__inner {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}