.header {
  width: 100%;
}

.header__text {
  color: #222428;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.28px;
  line-height: 19px;

  .header__signup-link {
    color: #062fb3;
    font-weight: 700;
    text-decoration: none;
  }
}

.logo {
  width: 138px;
  height: 36px;

  .logo__link {
    width: 100%;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}
