{% set title = 'Main' %}
{% extends 'base.html' %}

{% block content %}

<main class="content">
  <ul>
    <li><a href="sign-in.html">Sign-In</a></li>
    <li><a href="pass-recovery.html">Password recovery</a></li>
    <li><a href="rec-ready.html">Ready</a></li>
    <li><a href="reset-pass.html">Reset password</a></li>
    <li><a href="signUp-1.html">Sign-Up 1</a></li>
    <li><a href="signUp-2.html">Sign-Up 2</a></li>
    <li><a href="signup-ready.html">Sign-Up 6</a></li>
    <li><a href="profile-personal.html">Profile</a></li>
    <li><a href="profile-account.html">Profile 2</a></li>
    <li><a href="search-results.html">Search</a></li>
    <li><a href="search-map.html">Search-2</a></li>
    <li><a href="admin.html">Admin</a></li>
  </ul>
</main>

{% endblock %}