{% set title = 'Almost ready to go!' %}
{% set question = 'Back to' %}
{% set nameLink = 'Sign in' %}
{% extends 'base.html' %}

{% block content %}

<main class="content">

  <div class="content__text">
    <img class="content__image" src="../img/mail.svg" alt="email">
    <h2 class="content__title">You are almost ready to go!</h2>
    <p class="content__description">Please check your email to activate your account</p>
  </div>

  <div class="circles">
    <div class="circle__1">
      <div class="circle__2">
        <div class="circle__3">
          <div class="circle__4">
          </div>
        </div>
      </div>
    </div>
  </div>


</main>

{% endblock %}